/******************************************************
 GENERAL
******************************************************/
body {
    margin: 0;
    padding: 0;
}

/******************************************************
 CONTAINER
******************************************************/
.container {
    display: grid;
    grid-template-rows: 8vh 92vh;
}

/******************************************************
 HEADER
******************************************************/
.header {
    grid-row: 1/2;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #c62828;
}

/******************************************************
 MAIN
******************************************************/
.main {
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
    grid-template-rows: 100px auto;
}

/******************************************************
 NEW ITEM
******************************************************/
.addOption {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.optionForm {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.formFields {
    display: block;
    text-align: center;
}

.optionForm > h4 {
    text-align: center;
}

.formFields > input {
    max-width: 70px;
    margin: 0 7px;
    text-align: center;
}

.formFields > button {
    outline: none;
    border-radius: 10px;
}

/******************************************************
 OPTIONS
******************************************************/
.options {
    grid-column: 1/2;
    margin-top: 10px;
    list-style: none;
    text-align: center;
    justify-content: center;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 150px));
    grid-auto-rows: 110px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 0;
}

.options > li {
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 

.option > h4 {
    display: inline-block;
    margin: 3px auto;
}

.option > span {
    color: #3f51b5;
    margin: 0 5px;
}

.option > span:hover {
    cursor: pointer;
}

.option > input {
    background-color: #f5f5f5;
    width: 100%;
    display: block;
    margin: 10px auto;
    max-width: 100px;
    height: 20px;
    border: none;
    text-align: center;
}

.option > hr {
    width: 80%;
}

.option > button {
    background-color: #3f51b5;
    color: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border:none;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

.option > button:hover {
    cursor: pointer;
    background-color: #7986cb;
}

/******************************************************
 ITEMS LIST
******************************************************/
.itemsList {
    grid-column: 2/-1;
}